doctype html
html(lang="en")
  include includes/head.pug
  script(src="js/submit.js")
  
  body
    section.container
      div(style="display:flex; flex-direction:row; justify-content: space-around;")
        a(href="submit.html") Submit
        a(href="list.html") List
    section.container
      h1 Send an Appeal

      form#appeal-form(style="width:100%;")
        label Describe the problem
        textarea(name="description" placeholder="Message" style="width:100%;" required="true")
        label Required date of solution
        input(type="datetime-local" name="dateby" required="true")
        div.separator1
        input(type="submit", value="Send")

    div#snackbar Appeal submitted